<div class="card mb-3 <%= article.published_at.present? ?  'bg-white border-white' : 'card-draft'%>" id="<%= dom_id article %>">
  <div class="row g-0 align-items-stretch p-2">

    <div class="col-md-4 d-none d-md-block p-0 d-flex">
      <% if article.image.attached? %>
        <%= link_to article_path(article), class: 'h-100 w-100 d-block' do %>
          <%= image_tag url_for(article.image.variant(resize_to_limit: [600, 400])), class: 'img-fluid rounded article-image', alt: article.title %>
        <% end %>
      <% end %>
    </div>

    <div class="col-12 col-md-8 ps-2">
      <div class="mb-2">
        <span class="badge rounded-pill text-bg-secondary me-2">Secondary</span>
        <span class="badge rounded-pill text-bg-secondary">Secondary</span>
      </div>
      <h2 class="card-title"><%= article.title %></h2>
      <p class="card-text"><%= article.content %></p>
      <p class="card-text">
        <small class="text-muted">
          <% if article.published_at.present? %>
            <%= l(article.published_at&.in_time_zone, format: :published) %>
          <% else %>
            <span class="badge rounded-pill text-bg-warning me-2">Draft</span>
          <% end %>
        </small>
      </p>
    </div>
  </div>
</div>
