<div id="<%= dom_id article %>">
  <div>
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= article.content %>
  </div>

  <div>
    <strong>Published at:</strong>
    <% if article.published_date.present? %>
      <%= article.published_date.to_s %>
      <% if article.published_time.present? %>
        &nbsp;at&nbsp;<%= article.published_time.strftime('%H:%M') %>
      <% end %>
    <% else %>
      —
    <% end %>
  </div>

  <div>
    <strong>Is published:</strong>
    <%= article.is_published %>
  </div>

  <div>
    <strong>User:</strong>
    <%= article.user_id %>
  </div>

</div>
