<div id="<%= dom_id article %>">
  <div>
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= article.content %>
  </div>

  <div>
    <strong>Published at:</strong>
    <%= article.published_at %>
  </div>

  <div>
    <strong>Is published:</strong>
    <%= article.is_published %>
  </div>

  <div>
    <strong>User:</strong>
    <%= article.user_id %>
  </div>

</div>
