<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :content, class: 'form-label' %>
    <%= form.textarea :content, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-3 d-flex align-items-center ms-2">
      <div class="mb-3 form-check">
        <%= form.check_box :is_published, class: 'form-check-input' %>
        <%= form.label :is_published, class: 'form-check-label ms-2' %>
      </div>
    </div>

    <div class="col-4">
      <div class="mb-3">
        <%= form.label :published_at, "Published date", class: 'form-label' %>
        <%= form.date_field :published_at, class: 'form-control' %>
      </div>
    </div>
  </div>


  <div class="mb-3">
    <% if article.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', article, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if article.persisted? %>
      <%= link_to "Cancel", article, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", articles_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
