<div class="page-header">
  <% if admin? %>
  <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <% end %>
  <h1>Show article</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @article.title %></dd>
  <dt>Content:</dt>
  <dd><%= sanitize(Commonmarker.to_html(@article.content),
                   tags: %w[p br strong em a ul ol li code pre],
                   attributes: %w[href title]) %>
  </dd>
  <dt>Published at:</dt>
  <dd>
    <% if @article.published_at.present? %>
      <%= l(@article.published_at&.to_date) %>
    <% else %>
      —
    <% end %>
  </dd>
  <dt>Is published:</dt>
  <dd><%= @article.is_published %></dd>
</dl>
